<p id="notice"><%= notice %></p>

<table style=" width: 400px; background-color: rgba(250,250,210,0.8); border-radius: 10px; border: 4px double darkorange; text-align: center; ">
<tr style="font-weight: bold; ">
  <td style="border-bottom: 4px double darkorange;"> Image </td>
  <td style="border-bottom: 4px double darkorange;"> Title </td>
  <td style="border-bottom: 4px double darkorange;"> Price </td>
  <td style="border-bottom: 4px double darkorange; width: 70px; "> Quantity </td>
  <td style="border-bottom: 4px double darkorange;  width: 100px; "> Total </td>
</tr>
<% sum = 0 %>
<% @cart.line_items.each do |item| %>
    <tr>
        <td style=" background-color: #ffffff; width: 50px;"> <%= image_tag(item.product.image :thumb) %> </td>
        <td> <%= item.product.title %> </td>
        <td> <%= number_to_currency(item.product.price) %> </td>
        <td> <%= item.quantity %> </td>
        <td> <%= sum += item.product.price * item.quantity %> </td>
    </tr>
<% end %>
</table>
<table style=" margin-top:5px;  width: 400px; background-color: lightgoldenrodyellow; border-radius: 10px; border: 4px double darkorange; text-align: center; ">
<tr>
  <td style=" text-align: right;"> G. Total = <%= number_to_currency sum %> </td>
</tr>
</table>

<%= link_to 'Back', root_path %>
